<form action='/dockingStations' method= 'post'>
  <input type='text' name='dock_name' placeholder='Name' required>
  <br>
  <input type='number' name='dock_capacity' placeholder='Capacity' required>
  <br>
  <input class='submit' type='submit' name='Add Docking Station' value='Add Docking Station'>
</form>
